<%-include('../header')%>

<form action="/categorias/nova" method="post">
    <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Nome da categoria"

            name="categoria"
    >
    <button type="submit" class="btn btn-primary">Salvar</button>

</form>

<%-include('../footer')%>
